<section class="store_n_locate py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 store">
                    <h4>Get Our App and Book your Tickets</h4>
                    <p>
                        <a href=""><span class="icon icon-Google_Play"></span></a>
                        <a href=""><span class="icon icon-Apple_App_Store"></span></a>
                    </p>
                </div>
                <div class="col-md-6 locate">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    <button class="main-btn line-btn">NAVIGATE TO JATAYU <span class="icon-icons-22"></span></button>
                </div>
            </div>
        </div>
    </section>


<footer>
        <div class="container">
        <div class="row">
            <div class="col-auto mr-auto">
            <div class="logo">   
      </div></div>
            <div class="col-auto">
            <ul class="y-items">
                    <li><a href="">About</a></li>
                    <li><a href="">Booking</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>

 
        </div>
    </footer>