<header class="_home ">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col">
                <div id="app_booking">
                    <noscript>
                        <h1>Enable Javscript...</h1>   
                    </noscript>
                </div>
 
            </div>
        </div>
    </div>
     
</header>


<%= form_for({}, {action: bookingBookPath()}) { %>
     <input type="text" name="Package">
    <button class="btn btn-success">Register!</button>
  <% } %> 




<section class="booking_de">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <img src="<%= assetPath("/images/jatayuadventure-center3.png") %>" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 pt-5">
                <h2 class="default text-left">WELCOME TO JATAYU TOURISAM</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cill.

                </p>

                <a href="">Jatayu Earthcenter - About</a>
            </div>
        </div>
    </div>
</section>