.profile_pg ul {
    list-style: none;
    font-weight: 500;
    color: #8c8a8a;
    padding-left: 20px;
}

.profile_pg ul li span{
    position:  absolute;
    bottom: 2px;
    left: -42px;
}

.profile_pg .prfl_img img {
    height: 150px;
    width: 150px;
    background: #f2bd57;
    border-radius: 50%;
}

.profile_pg ul li {
    margin-bottom: 7px;
    position:  relative;
    margin-left: 40px;
}

.profile_pg .bookings_c {
    text-align:  center;
    color: #d4290c;
    font-size: 1em;
    line-height: 1;
}

.profile_pg .bookings_c h2 {
    font-size: 5em;
}

.profile_pg .bookings_c button {
    width: 60%;
    padding: 1em 1em;
}

.profile_pg {
    background: #fff;
    margin-top: 20%;
    padding: 3%;
}

.bookings-l article.tickets {
    text-align:  center;
    background: #D4290C;
    margin: 8px;
    border-radius: 12px;
    padding: 8px 4px;
    color: #fff;
}

.bookings-l article.tickets .counts {
    display:  flex;
}

.bookings-l article.tickets h3 {
    color: #efff18;
    font-weight: 700;
    font-size: 1.5em;
    padding-top: 4px;
    border-top: dashed 1px #ddd;
    margin-top: 18px;
}

section.bookings .container {
    /* border: solid 1px; */
}

.bookings-l {
}

section.bookings {}
.ticket .ppl span {
    flex: 1;
    text-align: center;
}

.ticket {
    /* margin-top: 7%; */
    border: solid 1px #C7DAE8;
    padding: 31px 3%;
    box-shadow: 1px 3px 8px 0 #4f558a4f;
    background: #fff;
}

.ticket img.logo {
    height: 200px;
    width: 220px;
    margin-bottom: 13px;
}

.ticket .header {
    align-items: flex-end;
    
    padding-bottom: 8px;
}
.ticket .bb{
    border-bottom: solid 1px #dedee0;
}

.ticket .header span {
    position: absolute;
    bottom: 19px;
    color: #b3aeae;
}

.ticket .booking-d {
    padding: 27px 0;
}

.ticket .ppl {
    padding: 46px 0;
    font-size: 2em;
    display: flex;
    position: relative;
    z-index: 1;
}

.ticket .ppl span li {}

.ppl li {
    list-style: none;
    padding: 0 4%;
    font-weight: 700;
}

.ppl li span {
    padding-right: 7px;
}

.fes span.icon {
    text-align: center;
    flex: 1;
    font-size: 3em;
    position: relative;
    color: #A8B3BE;
    z-index: 2;
}

.fes span.icon:after  {
    content: '';
    height: 2em;
    width: 2em;
    background: #ECECEC;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    z-index: -1;
    top: 0;
    bottom: 0;
}
 

.fes span.icon.sel:after {
    background: #C2F9C1;
}
.fes span.icon.sel{
    color: #0E9E0B;
}

.ticket .qr img {width: 200px;height: 200px;margin: auto;}

.ticket .qr {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
}

.ticket .notice p {
    margin-top: 14px;
    color: #777171;
}

.ticket .notice p span {
    color: #27C223;
    font-weight: bold;
}

section.tkt {
    background: url('/assets/images/header_bg.jpg') no-repeat;
    padding-top: 20%;
}

.ticket .ppl h1 {
    position: absolute;
    z-index: -1;
    color: #dde7ef;
    font-size: 3em;
    transform: rotate(-12deg);
    top: -35px;
}

header._home.profile {
    padding: 0;
}