 
<section class="tkt ">
<div class="container">
<div class="ticket">
    <div class="row header bb">
        <div class="col"><h4>CDLM015247</h4></div>
        <div class=" "><img src="<%= assetPath("./images/jatayu_logo.png") %>" alt="" class="logo"></div>
        <div class="col text-right"><span>Booked to</span><strong>02 -Octber 2019</strong></div>
    </div>
    <div class="row booking-d bb">
        <div class="col">
            <span>User Name</span>
            <h3>Mr. User name</h3>
        </div>
        <div class="col text-right">
            <h2>11 -Octber 2019</h2>
        </div>
    </div>

    <div class="row justify-content-center bb ppl"> 
                <li><span class="icon icon-Children_1"></span>03</li> 
                <li><span class="icon icon-Children_1"></span>03</li> 
                <li><span class="icon icon-Children_1"></span>03</li> 
                <h1>CDLM015247</h1>
    </div>

    <div class="row pt-5">
        <div class="col-md-6 qr">
            <img src="<%= assetPath("./images/qr.png") %>" alt="">
            <h2>CDLM015247</h2>
        </div>
        <div class="col-md-6">
            <div class="row fes py-4">
                <span class="icon sel icon-Climbing"  title="Tooltip on top"></span>
                <span class="icon sel icon-Adventure_2" title="Tooltip on top"></span>
                <span class="icon icon-Helicopter" title="Tooltip on top"></span>
            </div>
            <div class="total_p pt-3">
                <h3><span class="icon icon-Rupee_1"></span>2000</h3>
                <p>(Inc.GST)</p>
            </div>
        </div>
    </div>

    <div class="row  justify-content-center">
    <button class="main-btn line-btn">SAVE TO DEVICE <span class="icon-Android"></span></button>
    </div>

    <div class="row notice">
        <p><span>Go green, avoiding printing on paper.</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    </div>
</div>
</section>


